In [ ]:
import warnings
warnings.simplefilter("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
from datetime import datetime 
import time 
import csv
import os 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

School Characteristics NCES - school year 2018-2019

In [ ]:
url = "https://data-nces.opendata.arcgis.com/datasets/146f28635d01435e978c6d2d5ccf6ea9_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D"
data = pd.read_csv(url, sep=",")

data = data[['NCESSCH', 'TITLEI', 'LEAID','G12','SCHOOL_LEVEL','TOTFRL','SCHOOL_TYPE_TEXT','FTE','STUTERATIO','TOTMENROL','TOTFENROL']].reset_index(drop=True)

Data is filtered to High school level. 3 new columns for percentage of male/female/free lunch.

In [ ]:
data = data.loc[data['SCHOOL_LEVEL'] =='High']
data["PCT_MEN"] = (abs(data['TOTMENROL'])/((abs(data['TOTMENROL']))+(abs(data['TOTFENROL']))))
data["PCT_FEN"] = (abs(data['TOTFENROL'])/((abs(data['TOTFENROL']))+(abs(data['TOTMENROL']))))
data["PCT_FRL"] = (abs(data['TOTFRL'])/((abs(data['TOTFENROL']))+(abs(data['TOTMENROL']))))
data.head(5)

        NCESSCH TITLEI   LEAID   G12  ... TOTFENROL   PCT_MEN   PCT_FEN   PCT_FRL
1   20061000470  1-Yes  200610  29.0  ...      16.0  0.609756  0.390244  0.390244
4   20039000513  1-Yes  200390   3.0  ...       2.0  0.777778  0.222222  0.333333
15  20072000661  1-Yes  200720  34.0  ...      93.0  0.505319  0.494681  0.175532
18  20000100208  1-Yes  200001  61.0  ...     235.0  0.524291  0.475709  0.795547
26  20000100318  1-Yes  200001  22.0  ...      30.0  0.500000  0.500000  0.050000

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23243 entries, 1 to 100676
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NCESSCH           23243 non-null  int64
 1   TITLEI            23243 non-null  object
 2   LEAID             23243 non-null  int64
 3   G12               23068 non-null  float64
 4   SCHOOL_LEVEL      23243 non-null  object
 5   TOTFRL            23243 non-null  int64
 6   SCHOOL_TYPE_TEXT  23243 non-null  object
 7   FTE               22092 non-null  float64
 8   STUTERATIO        21432 non-null  float64
 9   TOTMENROL         23054 non-null  float64
 10  TOTFENROL         23030 non-null  float64
 11  PCT_MEN           21650 non-null  float64
 12  PCT_FEN           21650 non-null  float64
 13  PCT_FRL           22926 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 2.7+ MB

In [ ]:
data['NCESSCH'].nunique()

23243

In [ ]:
data['TITLEI'] = data['TITLEI'].replace('\d+', '', regex=True)
data['TITLEI'] = data['TITLEI'].replace('-', '', regex=True)

In [ ]:
data['TITLEI'].unique()

array(['Yes', 'Not Applicable', 'Missing'], dtype=object)

School type map using dictionary - Regular is 1 and the others are 0

In [ ]:
SCHOOL_TYPE ={'Alternative/other school':0, 'Regular school':1, 'Vocational school':0,
       'Special education school':0}

data['SCHOOL_TYPE']=data['SCHOOL_TYPE_TEXT'].map(SCHOOL_TYPE)

data.drop(['SCHOOL_TYPE_TEXT'], axis=1, inplace=True)

Adjusted Graduation Rate database school year 2018-2019

In [ ]:
url2 = "https://www2.ed.gov/about/inits/ed/edfacts/data-files/acgr-sch-sy2018-19-wide.csv"
grad_rates = pd.read_csv(url2,sep=",")

New column "Success Rate" created using success list

In [ ]:
# removed the suffix from the columns for readability 
grad_rates.columns = grad_rates.columns.str.rstrip('_1819')

In [ ]:
# drop the category rates since we are interested in how the number of students in each category contributes to the overall success rate
grad_rates = grad_rates.drop(['MAM_RATE', 'MAS_RATE', 'MBL_RATE', 'MHI_RATE', 'MTR_RATE',
                             'MWH_RATE', 'CWD_RATE', 'ECD_RATE', 'FCS_RATE', 'HOM_RATE', 
                             'LEP_RATE'], axis=1)

In [ ]:
# fill all nulls with 0 because those are where the number of students for that category is just 0 and not null
grad_rates.fillna(0, inplace = True)

In [ ]:
grad_rates.head()

     STNAM  FIPST   LEAID ST_LEAID  ... FCS_COHORT  HOM_COHORT LEP_COHORT DATE_CUR
0  ALABAMA      1  100005   AL-101  ...        0.0         7.0       67.0  24JUL20
1  ALABAMA      1  100006   AL-048  ...        0.0         3.0        3.0  24JUL20
2  ALABAMA      1  100006   AL-048  ...        0.0        10.0        7.0  24JUL20
3  ALABAMA      1  100006   AL-048  ...        1.0         2.0        1.0  24JUL20
4  ALABAMA      1  100006   AL-048  ...        0.0         7.0        1.0  24JUL20

[5 rows x 22 columns]

In [ ]:
# split at hyphen and keep lower bound
grad_rates['ALL_RATE'] = grad_rates['ALL_RATE'].str.split('-').str[0]

In [ ]:
# remove any letters or punctuation from grad rate
grad_rates['ALL_RATE'] = grad_rates["ALL_RATE"].str.replace(r'\D', '')

In [ ]:
grad_rates['ALL_RATE'] = grad_rates["ALL_RATE"].apply(pd.to_numeric)

In [ ]:
grad_rates['Success_Rate'] = (grad_rates['ALL_RATE'] > 66).astype(int)

State ID, District ID, School ID, each Cohort, Success Rate are columns selected

In [ ]:
grad_rates = grad_rates[['STNAM', 'FIPST','LEAID','NCESSCH', 'ALL_RATE', 'ALL_COHORT','MAM_COHORT', 'MAS_COHORT', 'MBL_COHORT', 'MHI_COHORT', 'MTR_COHORT', 'MWH_COHORT', 'CWD_COHORT', 'ECD_COHORT', 'FCS_COHORT', 'HOM_COHORT', 'LEP_COHORT','Success_Rate']]

In [ ]:
grad_rates.head()

     STNAM  FIPST   LEAID  ...  HOM_COHORT  LEP_COHORT  Success_Rate
0  ALABAMA      1  100005  ...         7.0        67.0             1
1  ALABAMA      1  100006  ...         3.0         3.0             1
2  ALABAMA      1  100006  ...        10.0         7.0             1
3  ALABAMA      1  100006  ...         2.0         1.0             1
4  ALABAMA      1  100006  ...         7.0         1.0             1

[5 rows x 18 columns]

In [ ]:
grad_rates['NCESSCH'].nunique()

22900

In [ ]:
grad_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22900 entries, 0 to 22899
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STNAM         22900 non-null  object
 1   FIPST         22900 non-null  int64
 2   LEAID         22900 non-null  int64
 3   NCESSCH       22900 non-null  int64
 4   ALL_RATE      21425 non-null  float64
 5   ALL_COHORT    22900 non-null  int64
 6   MAM_COHORT    22900 non-null  float64
 7   MAS_COHORT    22900 non-null  float64
 8   MBL_COHORT    22900 non-null  float64
 9   MHI_COHORT    22900 non-null  float64
 10  MTR_COHORT    22900 non-null  float64
 11  MWH_COHORT    22900 non-null  float64
 12  CWD_COHORT    22900 non-null  float64
 13  ECD_COHORT    22900 non-null  float64
 14  FCS_COHORT    22900 non-null  float64
 15  HOM_COHORT    22900 non-null  float64
 16  LEP_COHORT    22900 non-null  float64
 17  Success_Rate  22900 non-null  int64
dtypes: float64(12), int64(5), object(1)
memory usage: 3.1+ MB

In [ ]:
# drop LEAID to merge on NCESSCH without making duplicates
grad_rates.drop('LEAID', axis=1, inplace=True)

Merge School Characteristics and Grad Rate tables

In [ ]:
Merged_data = pd.merge(data, grad_rates, left_on='NCESSCH', right_on='NCESSCH')

In [ ]:
Merged_data.head()

       NCESSCH TITLEI   LEAID  ...  HOM_COHORT LEP_COHORT  Success_Rate
0  20061000470    Yes  200610  ...         0.0        6.0             0
1  20039000513    Yes  200390  ...         0.0        0.0             0
2  20072000661    Yes  200720  ...         0.0        5.0             1
3  20000100208    Yes  200001  ...         0.0       18.0             0
4  20000100318    Yes  200001  ...         1.0       14.0             0

[5 rows x 30 columns]

In [ ]:
Merged_data['NCESSCH'].nunique()

19961

In [ ]:
Merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19961 entries, 0 to 19960
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NCESSCH       19961 non-null  int64
 1   TITLEI        19961 non-null  object
 2   LEAID         19961 non-null  int64
 3   G12           19945 non-null  float64
 4   SCHOOL_LEVEL  19961 non-null  object
 5   TOTFRL        19961 non-null  int64
 6   FTE           19334 non-null  float64
 7   STUTERATIO    19141 non-null  float64
 8   TOTMENROL     19938 non-null  float64
 9   TOTFENROL     19936 non-null  float64
 10  PCT_MEN       19695 non-null  float64
 11  PCT_FEN       19695 non-null  float64
 12  PCT_FRL       19926 non-null  float64
 13  SCHOOL_TYPE   19961 non-null  int64
 14  STNAM         19961 non-null  object
 15  FIPST         19961 non-null  int64
 16  ALL_RATE      19175 non-null  float64
 17  ALL_COHORT    19961 non-null  int64
 18  MAM_COHORT    19961 non-null  float64
 19  MAS_COHORT    19961 non-null  float64
 20  MBL_COHORT    19961 non-null  float64
 21  MHI_COHORT    19961 non-null  float64
 22  MTR_COHORT    19961 non-null  float64
 23  MWH_COHORT    19961 non-null  float64
 24  CWD_COHORT    19961 non-null  float64
 25  ECD_COHORT    19961 non-null  float64
 26  FCS_COHORT    19961 non-null  float64
 27  HOM_COHORT    19961 non-null  float64
 28  LEP_COHORT    19961 non-null  float64
 29  Success_Rate  19961 non-null  int64
dtypes: float64(20), int64(7), object(3)
memory usage: 4.7+ MB

District ID needs leading 0 to be able to merge with financial data

In [ ]:
Merged_data['LEAID'] = Merged_data['LEAID'].map(lambda x: f'{x:0>7}')

Duplicate District ID is dropped

In [ ]:
Merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19961 entries, 0 to 19960
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NCESSCH       19961 non-null  int64
 1   TITLEI        19961 non-null  object
 2   LEAID         19961 non-null  object
 3   G12           19945 non-null  float64
 4   SCHOOL_LEVEL  19961 non-null  object
 5   TOTFRL        19961 non-null  int64
 6   FTE           19334 non-null  float64
 7   STUTERATIO    19141 non-null  float64
 8   TOTMENROL     19938 non-null  float64
 9   TOTFENROL     19936 non-null  float64
 10  PCT_MEN       19695 non-null  float64
 11  PCT_FEN       19695 non-null  float64
 12  PCT_FRL       19926 non-null  float64
 13  SCHOOL_TYPE   19961 non-null  int64
 14  STNAM         19961 non-null  object
 15  FIPST         19961 non-null  int64
 16  ALL_RATE      19175 non-null  float64
 17  ALL_COHORT    19961 non-null  int64
 18  MAM_COHORT    19961 non-null  float64
 19  MAS_COHORT    19961 non-null  float64
 20  MBL_COHORT    19961 non-null  float64
 21  MHI_COHORT    19961 non-null  float64
 22  MTR_COHORT    19961 non-null  float64
 23  MWH_COHORT    19961 non-null  float64
 24  CWD_COHORT    19961 non-null  float64
 25  ECD_COHORT    19961 non-null  float64
 26  FCS_COHORT    19961 non-null  float64
 27  HOM_COHORT    19961 non-null  float64
 28  LEP_COHORT    19961 non-null  float64
 29  Success_Rate  19961 non-null  int64
dtypes: float64(20), int64(6), object(4)
memory usage: 4.7+ MB

Copy of data is made

In [ ]:
df = Merged_data.copy(deep=False)

Finance data for school year 2018-2019

In [ ]:
url4 = "https://www2.census.gov/programs-surveys/school-finances/tables/2019/secondary-education-finance/elsec19t.xls"
revenue = pd.read_excel(url4)

Dsitrict ID,  PER PUPIL - TOTAL CURRENT SPENDING (ELEMENTARY-SECONDARY) columns are selected

PER PUPIL SPENDING AMOUNTS
The per pupil spending amounts included in the summary tables and data files are derived from current spending totals and the fall membership data. Per pupil expenditure does not include spending for nonelementary-secondary programs (community service, adult education), or spending by a school system for students not included in its fall membership counts.

In [ ]:
revenue = revenue[['NCESID', 'PPCSTOT']]
revenue.shape

(14197, 2)

In [ ]:
revenue = revenue.rename(columns={"NCESID": "LEAID"})

In [ ]:
revenue['LEAID'].nunique()

14197

Merge revenue and other 2 tables

In [ ]:
All_data = pd.merge(Merged_data, revenue, left_on='LEAID', right_on='LEAID')

In [ ]:
All_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17855 entries, 0 to 17854
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NCESSCH       17855 non-null  int64
 1   TITLEI        17855 non-null  object
 2   LEAID         17855 non-null  object
 3   G12           17841 non-null  float64
 4   SCHOOL_LEVEL  17855 non-null  object
 5   TOTFRL        17855 non-null  int64
 6   FTE           17470 non-null  float64
 7   STUTERATIO    17283 non-null  float64
 8   TOTMENROL     17834 non-null  float64
 9   TOTFENROL     17834 non-null  float64
 10  PCT_MEN       17600 non-null  float64
 11  PCT_FEN       17600 non-null  float64
 12  PCT_FRL       17825 non-null  float64
 13  SCHOOL_TYPE   17855 non-null  int64
 14  STNAM         17855 non-null  object
 15  FIPST         17855 non-null  int64
 16  ALL_RATE      17128 non-null  float64
 17  ALL_COHORT    17855 non-null  int64
 18  MAM_COHORT    17855 non-null  float64
 19  MAS_COHORT    17855 non-null  float64
 20  MBL_COHORT    17855 non-null  float64
 21  MHI_COHORT    17855 non-null  float64
 22  MTR_COHORT    17855 non-null  float64
 23  MWH_COHORT    17855 non-null  float64
 24  CWD_COHORT    17855 non-null  float64
 25  ECD_COHORT    17855 non-null  float64
 26  FCS_COHORT    17855 non-null  float64
 27  HOM_COHORT    17855 non-null  float64
 28  LEP_COHORT    17855 non-null  float64
 29  Success_Rate  17855 non-null  int64
 30  PPCSTOT       17855 non-null  int64
dtypes: float64(20), int64(7), object(4)
memory usage: 4.4+ MB

Nulls dropped from merged data

In [ ]:
All_data.dropna()

            NCESSCH          TITLEI    LEAID  ...  LEP_COHORT Success_Rate  PPCSTOT
0       20061000470             Yes  0200610  ...         6.0            0    36416
1       20061000286  Not Applicable  0200610  ...         5.0            1    36416
2       20039000513             Yes  0200390  ...         0.0            0    17859
3       20039000079             Yes  0200390  ...         0.0            0    17859
4       20039000081             Yes  0200390  ...         0.0            0    17859
...             ...             ...      ...  ...         ...          ...      ...
17850  500041800540             Yes  5000418  ...         0.0            1    16229
17851  500042500338             Yes  5000425  ...         0.0            1    20224
17852  500042600543             Yes  5000426  ...         0.0            1    16039
17853  500042700348             Yes  5000427  ...         0.0            1    14916
17854  530381003659             Yes  5303810  ...         0.0            1    10626

[16797 rows x 31 columns]

Create new df with just NY and DMV data

In [ ]:
#ny_dmv = All_data.loc[(All_data['STNAM'] == 'DISTRICT OF COLUMBIA') | (All_data['STNAM'] == 'NEW YORK') | (All_data['STNAM'] == 'MARYLAND') | (All_data['STNAM'] == 'VIRGINIA')]

In [ ]:
#ny_dmv.drop(['STNAM', 'FIPST'], axis=1, inplace=True)

In [ ]:
#ny_dmv.info()

Assessment - Math & Reading 2018-2019

In [ ]:
Assessment = pd.read_csv('https://www2.ed.gov/about/inits/ed/edfacts/data-files/math-achievement-sch-sy2018-19-wide.csv')

KeyboardInterrupt: ignored

In [ ]:
Assessment = Assessment[['NCESSCH', 'ALL_MTHHSnumvalid_1819', 'ALL_MTHHSpctprof_1819']]

In [ ]:
Assessment.columns

Index(['NCESSCH', 'ALL_MTHHSnumvalid_1819', 'ALL_MTHHSpctprof_1819'], dtype='object')

In [ ]:
Assessment.columns = Assessment.columns.str.rstrip('_1819')

In [ ]:
column_list = Assessment.columns.to_list()
column_list

['NCESSCH', 'ALL_MTHHSnumvalid', 'ALL_MTHHSpctprof']

In [ ]:
Assessment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90278 entries, 0 to 90277
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NCESSCH            90278 non-null  int64
 1   ALL_MTHHSnumvalid  25285 non-null  object
 2   ALL_MTHHSpctprof   24597 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [ ]:
Assessment.head()

       NCESSCH ALL_MTHHSnumvalid ALL_MTHHSpctprof
0  10000500870               NaN              NaN
1  10000500871               317               39
2  10000500879               NaN              NaN
3  10000500889               NaN              NaN
4  10000600193               NaN              NaN

In [ ]:
# Nulls are elementary and middle school with no high school data
Assessment = Assessment.dropna()

In [ ]:
Assessment['NCESSCH'].nunique()

24597

In [ ]:
Assessment['ALL_MTHHSpctprof'] =Assessment['ALL_MTHHSpctprof'].str.split('-').str[0]
Assessment['ALL_MTHHSpctprof'] = Assessment["ALL_MTHHSpctprof"].str.replace(r'\D', '')
Assessment['ALL_MTHHSpctprof'] = Assessment["ALL_MTHHSpctprof"].apply(pd.to_numeric)
Assessment['ALL_MTHHSpctprof'] = Assessment['ALL_MTHHSpctprof'].fillna(Assessment['ALL_MTHHSpctprof'].mean())

In [ ]:
Assessment['ALL_MTHHSnumvalid'] = Assessment['ALL_MTHHSnumvalid'].str.split('.').str[0]
Assessment['ALL_MTHHSnumvalid'] = Assessment["ALL_MTHHSnumvalid"].apply(pd.to_numeric)
Assessment['ALL_MTHHSnumvalid'] = Assessment['ALL_MTHHSnumvalid'].fillna(Assessment['ALL_MTHHSpctprof'].mean())

Math Assessment data merged to other data

In [ ]:
all_math = pd.merge(All_data, Assessment, on="NCESSCH")

In [ ]:
all_math.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17341 entries, 0 to 17340
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NCESSCH            17341 non-null  int64
 1   TITLEI             17341 non-null  object
 2   LEAID              17341 non-null  object
 3   G12                17330 non-null  float64
 4   SCHOOL_LEVEL       17341 non-null  object
 5   TOTFRL             17341 non-null  int64
 6   FTE                17046 non-null  float64
 7   STUTERATIO         16935 non-null  float64
 8   TOTMENROL          17324 non-null  float64
 9   TOTFENROL          17325 non-null  float64
 10  PCT_MEN            17155 non-null  float64
 11  PCT_FEN            17155 non-null  float64
 12  PCT_FRL            17319 non-null  float64
 13  SCHOOL_TYPE        17341 non-null  int64
 14  STNAM              17341 non-null  object
 15  FIPST              17341 non-null  int64
 16  ALL_RATE           16830 non-null  float64
 17  ALL_COHORT         17341 non-null  int64
 18  MAM_COHORT         17341 non-null  float64
 19  MAS_COHORT         17341 non-null  float64
 20  MBL_COHORT         17341 non-null  float64
 21  MHI_COHORT         17341 non-null  float64
 22  MTR_COHORT         17341 non-null  float64
 23  MWH_COHORT         17341 non-null  float64
 24  CWD_COHORT         17341 non-null  float64
 25  ECD_COHORT         17341 non-null  float64
 26  FCS_COHORT         17341 non-null  float64
 27  HOM_COHORT         17341 non-null  float64
 28  LEP_COHORT         17341 non-null  float64
 29  Success_Rate       17341 non-null  int64
 30  PPCSTOT            17341 non-null  int64
 31  ALL_MTHHSnumvalid  17341 non-null  float64
 32  ALL_MTHHSpctprof   17341 non-null  float64
dtypes: float64(22), int64(7), object(4)
memory usage: 4.5+ MB

Do the same for reading data

In [ ]:
Assessment1 = pd.read_csv('https://www2.ed.gov/about/inits/ed/edfacts/data-files/rla-achievement-sch-sy2018-19-wide.csv')

In [ ]:
Assessment1.columns

Index(['STNAM', 'FIPST', 'LEANM', 'LEAID', 'ST_LEAID', 'NCESSCH', 'ST_SCHID',
       'SCHNAM', 'DATE_CUR', 'ALL_RLA00numvalid_1819',
       ...
       'MIL_RLA05numvalid_1819', 'MIL_RLA05pctprof_1819',
       'MIL_RLA06numvalid_1819', 'MIL_RLA06pctprof_1819',
       'MIL_RLA07numvalid_1819', 'MIL_RLA07pctprof_1819',
       'MIL_RLA08numvalid_1819', 'MIL_RLA08pctprof_1819',
       'MIL_RLAHSnumvalid_1819', 'MIL_RLAHSpctprof_1819'],
      dtype='object', length=265)

In [ ]:
Assessment1.columns = Assessment1.columns.str.rstrip('_1819')

In [ ]:
Assessment1 = Assessment1[['NCESSCH', 'ALL_RLAHSnumvalid', 'ALL_RLAHSpctprof']]

In [ ]:
Assessment1 = Assessment1.dropna()

In [ ]:
Assessment1['ALL_RLAHSpctprof'] = Assessment1['ALL_RLAHSpctprof'].str.split('-').str[0]
Assessment1['ALL_RLAHSpctprof'] = Assessment1['ALL_RLAHSpctprof'].str.replace(r'\D', '')
Assessment1['ALL_RLAHSpctprof'] = Assessment1['ALL_RLAHSpctprof'].apply(pd.to_numeric)
Assessment1['ALL_RLAHSpctprof'] = Assessment1['ALL_RLAHSpctprof'].fillna(Assessment1['ALL_RLAHSpctprof'].mean())

In [ ]:
Assessment1['ALL_RLAHSnumvalid'] = Assessment1['ALL_RLAHSnumvalid'].str.split('.').str[0]
Assessment1['ALL_RLAHSnumvalid'] = Assessment1['ALL_RLAHSnumvalid'].apply(pd.to_numeric)
Assessment1['ALL_RLAHSnumvalid'] = Assessment1['ALL_RLAHSnumvalid'].fillna(Assessment1['ALL_RLAHSpctprof'].mean())

In [ ]:
all_assessments = pd.merge(all_math, Assessment1, on="NCESSCH")

In [ ]:
all_assessments =all_assessments.rename(columns={"ALL_MTHHSnumvalid": "MATH_NUM", "ALL_MTHHSpctprof": "MATH_PCT", "ALL_RLAHSnumvalid": "READ_NUM", "ALL_RLAHSpctprof": "READ_PCT"})

In [ ]:
all_assessments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17174 entries, 0 to 17173
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NCESSCH       17174 non-null  int64
 1   TITLEI        17174 non-null  object
 2   LEAID         17174 non-null  object
 3   G12           17163 non-null  float64
 4   SCHOOL_LEVEL  17174 non-null  object
 5   TOTFRL        17174 non-null  int64
 6   FTE           16889 non-null  float64
 7   STUTERATIO    16779 non-null  float64
 8   TOTMENROL     17157 non-null  float64
 9   TOTFENROL     17158 non-null  float64
 10  PCT_MEN       16989 non-null  float64
 11  PCT_FEN       16989 non-null  float64
 12  PCT_FRL       17152 non-null  float64
 13  SCHOOL_TYPE   17174 non-null  int64
 14  STNAM         17174 non-null  object
 15  FIPST         17174 non-null  int64
 16  ALL_RATE      16678 non-null  float64
 17  ALL_COHORT    17174 non-null  int64
 18  MAM_COHORT    17174 non-null  float64
 19  MAS_COHORT    17174 non-null  float64
 20  MBL_COHORT    17174 non-null  float64
 21  MHI_COHORT    17174 non-null  float64
 22  MTR_COHORT    17174 non-null  float64
 23  MWH_COHORT    17174 non-null  float64
 24  CWD_COHORT    17174 non-null  float64
 25  ECD_COHORT    17174 non-null  float64
 26  FCS_COHORT    17174 non-null  float64
 27  HOM_COHORT    17174 non-null  float64
 28  LEP_COHORT    17174 non-null  float64
 29  Success_Rate  17174 non-null  int64
 30  PPCSTOT       17174 non-null  int64
 31  MATH_NUM      17174 non-null  float64
 32  MATH_PCT      17174 non-null  float64
 33  READ_NUM      17174 non-null  float64
 34  READ_PCT      17174 non-null  float64
dtypes: float64(24), int64(7), object(4)
memory usage: 4.7+ MB

In [ ]:
all_assessments['PCT_MEN'] = all_assessments['PCT_MEN'].fillna(all_assessments['PCT_MEN'].mean())
all_assessments['PCT_FEN'] = all_assessments['PCT_MEN'].fillna(all_assessments['PCT_FEN'].mean())
all_assessments['ALL_RATE'] = all_assessments['ALL_RATE'].fillna(all_assessments['ALL_RATE'].mean())
all_assessments['FTE'] = all_assessments['FTE'].fillna(all_assessments['FTE'].mean())

Created separate NY and DMV dataframe

In [ ]:
NY = all_assessments.loc[(all_assessments['STNAM'] == 'NEW YORK')]
NY.head()

            NCESSCH          TITLEI    LEAID  ...  MATH_PCT   READ_NUM  READ_PCT
10560  361938005859  Not Applicable  3619380  ...      95.0  50.594066      95.0
10561  360585005857             Yes  3605850  ...      70.0  50.594066      70.0
10562  360585000297             Yes  3605850  ...      75.0  50.594066      80.0
10563  360585000301             Yes  3605850  ...      80.0  50.594066      65.0
10564  360585000307             Yes  3605850  ...      85.0  50.594066      85.0

[5 rows x 35 columns]

In [ ]:
NY.shape

(630, 35)

In [ ]:
NY.isna().sum()

NCESSCH         0
TITLEI          0
LEAID           0
G12             0
SCHOOL_LEVEL    0
TOTFRL          0
FTE             0
STUTERATIO      2
TOTMENROL       0
TOTFENROL       0
PCT_MEN         0
PCT_FEN         0
PCT_FRL         0
SCHOOL_TYPE     0
STNAM           0
FIPST           0
ALL_RATE        0
ALL_COHORT      0
MAM_COHORT      0
MAS_COHORT      0
MBL_COHORT      0
MHI_COHORT      0
MTR_COHORT      0
MWH_COHORT      0
CWD_COHORT      0
ECD_COHORT      0
FCS_COHORT      0
HOM_COHORT      0
LEP_COHORT      0
Success_Rate    0
PPCSTOT         0
MATH_NUM        0
MATH_PCT        0
READ_NUM        0
READ_PCT        0
dtype: int64

In [ ]:
DMV = all_assessments.loc[(all_assessments['STNAM'] == 'MARYLAND') | (all_assessments['STNAM'] == 'DISTRICT OF COLUMBIA') | (all_assessments['STNAM'] == 'VIRGINIA')]
DMV.head()

           NCESSCH          TITLEI    LEAID  ...  MATH_PCT READ_NUM  READ_PCT
3268  110003000264  Not Applicable  1100030  ...      20.0     19.0      20.0
3269  110003000267  Not Applicable  1100030  ...      30.0    171.0      65.0
3270  110003000008  Not Applicable  1100030  ...       5.0    136.0       6.0
3271  110003000016  Not Applicable  1100030  ...      15.0    141.0      55.0
3272  110003000055  Not Applicable  1100030  ...       6.0     94.0      15.0

[5 rows x 35 columns]

In [ ]:
DMV.shape

(571, 35)

Create df for national data

In [ ]:
national_data = all_assessments

In [ ]:
national_data.isna().sum()

NCESSCH           0
TITLEI            0
LEAID             0
G12              11
SCHOOL_LEVEL      0
TOTFRL            0
FTE               0
STUTERATIO      395
TOTMENROL        17
TOTFENROL        16
PCT_MEN           0
PCT_FEN           0
PCT_FRL          22
SCHOOL_TYPE       0
STNAM             0
FIPST             0
ALL_RATE          0
ALL_COHORT        0
MAM_COHORT        0
MAS_COHORT        0
MBL_COHORT        0
MHI_COHORT        0
MTR_COHORT        0
MWH_COHORT        0
CWD_COHORT        0
ECD_COHORT        0
FCS_COHORT        0
HOM_COHORT        0
LEP_COHORT        0
Success_Rate      0
PPCSTOT           0
MATH_NUM          0
MATH_PCT          0
READ_NUM          0
READ_PCT          0
dtype: int64

Create NY csv

In [ ]:
NY.to_csv("/content/drive/Shareddrives/DATA 602 Final Project/NY_GRAD_FINANCE_RACE_CLEAN.csv")

Create DMV

In [ ]:
DMV.to_csv("/content/drive/Shareddrives/DATA 602 Final Project/DMV_GRAD_FINANCE_RACE_CLEAN.csv")

Create National Data cav

In [ ]:
national_data.to_csv("/content/drive/Shareddrives/DATA 602 Final Project/NATIONAL_GRAD_FINANCE_RACE_CLEAN.csv")